@font-face {
  font-family: 'Gotham Rounded';
  src: url('/wp-content/themes/wordpress-webpack-theme/assets/css/fonts/Gotham/GothamRounded-Medium.woff2') format('woff2'),
  url('/wp-content/themes/wordpress-webpack-theme/assets/css/fonts/Gotham/GothamRounded-Medium.woff') format('woff'),
  url('/wp-content/themes/wordpress-webpack-theme/assets/css/fonts/Gotham/GothamRounded-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Rounded Book';
  src: url('/wp-content/themes/wordpress-webpack-theme/assets/css/fonts/Gotham/GothamRounded-BookItalic.woff2') format('woff2'),
  url('/wp-content/themes/wordpress-webpack-theme/assets/css/fonts/Gotham/GothamRounded-BookItalic.woff') format('woff'),
  url('/wp-content/themes/wordpress-webpack-theme/assets/css/fonts/Gotham/GothamRounded-BookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('/wp-content/themes/wordpress-webpack-theme/assets/css/fonts/Gotham/GothamRounded-Light.woff2') format('woff2'),
  url('/wp-content/themes/wordpress-webpack-theme/assets/css/fonts/Gotham/GothamRounded-Light.woff') format('woff'),
  url('/wp-content/themes/wordpress-webpack-theme/assets/css/fonts/Gotham/GothamRounded-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('/wp-content/themes/wordpress-webpack-theme/assets/css/fonts/Gotham/GothamRounded-LightItalic.woff2') format('woff2'),
  url('/wp-content/themes/wordpress-webpack-theme/assets/css/fonts/Gotham/GothamRounded-LightItalic.woff') format('woff'),
  url('/wp-content/themes/wordpress-webpack-theme/assets/css/fonts/Gotham/GothamRounded-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('/wp-content/themes/wordpress-webpack-theme/assets/css/fonts/Gotham/GothamRounded-BoldItalic.woff2') format('woff2'),
  url('/wp-content/themes/wordpress-webpack-theme/assets/css/fonts/Gotham/GothamRounded-BoldItalic.woff') format('woff'),
  url('/wp-content/themes/wordpress-webpack-theme/assets/css/fonts/Gotham/GothamRounded-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Rounded Book';
  src: url('/wp-content/themes/wordpress-webpack-theme/assets/css/fonts/Gotham/GothamRounded-Book.woff2') format('woff2'),
  url('/wp-content/themes/wordpress-webpack-theme/assets/css/fonts/Gotham/GothamRounded-Book.woff') format('woff'),
  url('/wp-content/themes/wordpress-webpack-theme/assets/css/fonts/Gotham/GothamRounded-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('/wp-content/themes/wordpress-webpack-theme/assets/css/fonts/Gotham/GothamRounded-MediumItalic.woff2') format('woff2'),
  url('/wp-content/themes/wordpress-webpack-theme/assets/css/fonts/Gotham/GothamRounded-MediumItalic.woff') format('woff'),
  url('/wp-content/themes/wordpress-webpack-theme/assets/css/fonts/Gotham/GothamRounded-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('/wp-content/themes/wordpress-webpack-theme/assets/css/fonts/Gotham/GothamRounded-Bold.woff2') format('woff2'),
  url('/wp-content/themes/wordpress-webpack-theme/assets/css/fonts/Gotham/GothamRounded-Bold.woff') format('woff'),
  url('/wp-content/themes/wordpress-webpack-theme/assets/css/fonts/Gotham/GothamRounded-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
